.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}

ul.az {
	margin:0px 0px 0px 0px;
}
ul.az li {
	display:inline;
	height: auto;
	list-style-type: none;
	margin: 0;
	padding: 0 5px 20px 0;
	width: auto;
}
ul.az li a {
	color: #fff;
	margin-right: 5px;
	padding-right: 5px;
	height: none;
	list-style-type: none;
	width: none;
}
ul.az li a:hover {
	text-decoration: underline
}

.grid_item {
  background: #ebebeb;  
  display: block;
  float: left;
  position: relative;
  -moz-transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -moz-transition: all .2s cubic-bezier(.4,0,.2,1);
  -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
  transition: all .2s cubic-bezier(.4,0,.2,1);
}

.grid_link {
  display: block;
  color: black;
  position: relative;
  overflow: hidden;
  border: 4px solid #FFF;
}

.tile {
  font-size: 14px;
  font-family: "Segoe UI";
  line-height: 18px;
  padding: 12px;
  position: absolute;
  bottom: 0%;
  left: 0%;    
  -webkit-transform: translate(0%,0%);
      -ms-transform: translate(0%,0%);
          transform: translate(0%,0%);
  width: 100%;
}

.a { background: #bada55; }
.b { background: pink; }
.c { background: aqua; }
.d { background: orange; }
.e { background: yellow; }
.f { background: brown; }
.g { background: purple; }

@media all and (max-width: 320px) {
  .span__1,
  .span__2,
  .span__4{
    width: 100%;
    .grid_link {
   	padding-bottom: 100%;
  	}
  }
}

@media all and (min-width: 321px) and (max-width: 480px) {
  .span__1,
  .span__2,
  .span__4{
    width: 49.545252%;
    .grid_link {
   	padding-bottom: 100%;
  	}
  }
}

@media all and (min-width: 481px) {
  .span__1 {
    width: 25%;
    .grid_link {
      padding-bottom: 100%;
    }
  }

  .span__2 {
    width: 50%;
    .grid_link {
      padding-bottom: 50%;
    }
  }

  .span__4 {
    width: 100%;
    .grid_link {
      padding-bottom: 25%;
    }
  }
}

.landing-list-item {
	display:block;
	margin-top:20px;
}


.landing-list-item i {
	display:block;
	float:left;
	text-align:center;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
	width:60px;
	height:60px;
	line-height:60px;
 *padding:0 0 0 10px;
	margin:0px auto;
	color:#806aaf;
	background-color:#f9f9f9;
	text-shadow: 1px 0 0 rgba(0, 0, 0, .2);
}
.landing-list-item h3 {
	margin-left:0px;
	line-height:1;
 *line-height:1.2em;
	padding-top:0px;
}
.landing-list-item h3 a {
	color: #373b43;
	font-weight:500;
	text-decoration:underline ;
}
.landing-list-item h3 a:hover {
	text-decoration: none;
}
.section-highlights {
	padding: 0 0 0 0;
}
.section-highlights ul {
	margin:0px 0px 0px -40px;
}
.section-highlights ul li {
	display: inline;
	list-style:none;
	padding: 2px 0 0 0;
 *padding: 0 4px 0 0;
}
.section-highlights ul li a {
	font-weight:400;
 *float:left;
	zoom: 1;
	margin: 0 0 -4px 0;
}
.section-highlights ul li a:hover {
	text-decoration:underline;
	display: inline;
}
.section-highlights ul li.all {
	display: inline-block;
}
.section-highlights ul li.all a {
	color:#e1714b;
	display: inline-block;
}
ul.more-links {
	margin:0 0 20px 0;
 *padding: 0 0 5px 0;
}
ul.more-links li {
	display: inline;
 *float:left;
 *white-space: nowrap;
	list-style:none;
	padding: 0 5px 0 0;
 *padding: 0 4px 0 0;
}
ul.more-links li a {
	list-style:none;
	display: inline;
	margin: 0 0 -4px 0;
	font-weight:500;
}
ul.more-links li a:hover {
	text-decoration:underline;
}