/*------------------------------------------------------------------


[z_index.scss] Definition of z-index


*/


// z-index scale 
$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;

//TODO: add all components
// z-index applications


$zIndex-sidebar : $zIndex-10;
$zIndex-tooltips : $zIndex-10;
$zIndex-notifications : $zIndex-9;
$zIndex-navbar : $zIndex-8;
$zIndex-dropdown : $zIndex-7;
$zIndex-dropdownMask : $zIndex-6;
$zIndex-portlet : $zIndex-6;