@font-face {
    font-family: 'lcc-icon-font';
    src:    url('/lcc/fonts/lcc-icon-font.eot?pwjt84');
    src:    url('/lcc/fonts/lcc-icon-font.eot?pwjt84#iefix') format('embedded-opentype'),
        url('/lcc/fonts/lcc-icon-font.ttf?pwjt84') format('truetype'),
        url('/lcc/fonts/lcc-icon-font.woff?pwjt84') format('woff'),
        url('/lcc/fonts/lcc-icon-font.svg?pwjt84#lcc-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="lcc-icon-"], [class*=" lcc-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'lcc-icon-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lcc-icon-glass:before {
    content: "\f000";
}
.lcc-icon-music:before {
    content: "\f001";
}
.lcc-icon-search:before {
    content: "\f002";
}
.lcc-icon-envelope:before {
    content: "\f003";
}
.lcc-icon-heart-fill:before {
    content: "\f004";
}
.lcc-icon-star-fill:before {
    content: "\f005";
}
.lcc-icon-star:before {
    content: "\f006";
}
.lcc-icon-user:before {
    content: "\f007";
}
.lcc-icon-film:before {
    content: "\f008";
}
.lcc-icon-th-large:before {
    content: "\f009";
}
.lcc-icon-th:before {
    content: "\f00a";
}
.lcc-icon-th-list:before {
    content: "\f00b";
}
.lcc-icon-ok:before {
    content: "\f00c";
}
.lcc-icon-remove:before {
    content: "\f00d";
}
.lcc-icon-zoom-in:before {
    content: "\f00e";
}
.lcc-icon-zoom-out:before {
    content: "\f010";
}
.lcc-icon-off:before {
    content: "\f011";
}
.lcc-icon-signal:before {
    content: "\f012";
}
.lcc-icon-cog:before {
    content: "\f013";
}
.lcc-icon-trash:before {
    content: "\f014";
}
.lcc-icon-home:before {
    content: "\f015";
}
.lcc-icon-file:before {
    content: "\f016";
}
.lcc-icon-time:before {
    content: "\f017";
}
.lcc-icon-road:before {
    content: "\f018";
}
.lcc-icon-download-alt:before {
    content: "\f019";
}
.lcc-icon-inbox:before {
    content: "\f01c";
}
.lcc-icon-repeat:before {
    content: "\f015e";
}
.lcc-icon-refresh:before {
    content: "\f021";
}
.lcc-icon-list-alt:before {
    content: "\f022";
}
.lcc-icon-lock:before {
    content: "\f023";
}
.lcc-icon-flag:before {
    content: "\f024";
}
.lcc-icon-headphones:before {
    content: "\f025";
}
.lcc-icon-volume-off:before {
    content: "\f026";
}
.lcc-icon-volume-down:before {
    content: "\f027";
}
.lcc-icon-volume-up:before {
    content: "\f028";
}
.lcc-icon-qrcode:before {
    content: "\f029";
}
.lcc-icon-barcode:before {
    content: "\f02a";
}
.lcc-icon-tag:before {
    content: "\f02b";
}
.lcc-icon-tags:before {
    content: "\f02c";
}
.lcc-icon-book:before {
    content: "\f02d";
}
.lcc-icon-bookmark:before {
    content: "\f02e";
}
.lcc-icon-print:before {
    content: "\f02f";
}
.lcc-icon-camera:before {
    content: "\f030";
}
.lcc-icon-font:before {
    content: "\f031";
}
.lcc-icon-bold:before {
    content: "\f032";
}
.lcc-icon-italic:before {
    content: "\f033";
}
.lcc-icon-text-height:before {
    content: "\f034";
}
.lcc-icon-text-width:before {
    content: "\f035";
}
.lcc-icon-align-left:before {
    content: "\f036";
}
.lcc-icon-align-center:before {
    content: "\f037";
}
.lcc-icon-align-right:before {
    content: "\f038";
}
.lcc-icon-align-justify:before {
    content: "\f039";
}
.lcc-icon-indent-left:before {
    content: "\f03b";
}
.lcc-icon-indent-right:before {
    content: "\f03c";
}
.lcc-icon-link:before {
    content: "\f0c1";
}
.lcc-icon-facetime-video:before {
    content: "\f03d";
}
.lcc-icon-picture:before {
    content: "\f03e";
}
.lcc-icon-pencil:before {
    content: "\f040";
}
.lcc-icon-map-marker:before {
    content: "\f041";
}
.lcc-icon-adjust:before {
    content: "\f042";
}
.lcc-icon-tint:before {
    content: "\f043";
}
.lcc-icon-edit:before {
    content: "\f044";
}
.lcc-icon-share:before {
    content: "\f045";
}
.lcc-icon-check:before {
    content: "\f046";
}
.lcc-icon-move:before {
    content: "\f047";
}
.lcc-icon-step-backward:before {
    content: "\f048";
}
.lcc-icon-fast-backward:before {
    content: "\f049";
}
.lcc-icon-backward:before {
    content: "\f04a";
}
.lcc-icon-play:before {
    content: "\f04b";
}
.lcc-icon-pause:before {
    content: "\f04c";
}
.lcc-icon-stop:before {
    content: "\f04d";
}
.lcc-icon-forward:before {
    content: "\f04e";
}
.lcc-icon-fast-forward:before {
    content: "\f050";
}
.lcc-icon-step-forward:before {
    content: "\f051";
}
.lcc-icon-eject:before {
    content: "\f052";
}
.lcc-icon-chevron-left:before {
    content: "\f053";
}
.lcc-icon-chevron-right:before {
    content: "\f054";
}
.lcc-icon-plus-sign:before {
    content: "\f055";
}
.lcc-icon-minus-sign:before {
    content: "\f056";
}
.lcc-icon-remove-sign:before {
    content: "\f057";
}
.lcc-icon-ok-sign:before {
    content: "\f058";
}
.lcc-icon-question-sign:before {
    content: "\f059";
}
.lcc-icon-info-sign:before {
    content: "\f05a";
}
.lcc-icon-screenshot:before {
    content: "\f05b";
}
.lcc-icon-remove-circle:before {
    content: "\f05c";
}
.lcc-icon-ok-circle:before {
    content: "\f05d";
}
.lcc-icon-ban-circle:before {
    content: "\f05e";
}
.lcc-icon-arrow-left:before {
    content: "\f060";
}
.lcc-icon-arrow-right:before {
    content: "\f061";
}
.lcc-icon-arrow-up:before {
    content: "\f062";
}
.lcc-icon-arrow-down:before {
    content: "\f063";
}
.lcc-icon-share-alt:before {
    content: "\f064";
}
.lcc-icon-resize-full:before {
    content: "\f065";
}
.lcc-icon-resize-small:before {
    content: "\f066";
}
.lcc-icon-plus:before {
    content: "\f067";
}
.lcc-icon-minus:before {
    content: "\f068";
}
.lcc-icon-asterisk:before {
    content: "\f069";
}
.lcc-icon-exclamation-sign:before {
    content: "\f06a";
}
.lcc-icon-gift:before {
    content: "\f06b";
}
.lcc-icon-leaf:before {
    content: "\f06c";
}
.lcc-icon-fire:before {
    content: "\f06d";
}
.lcc-icon-eye-open:before {
    content: "\f06e";
}
.lcc-icon-eye-close:before {
    content: "\f070";
}
.lcc-icon-warning-sign:before {
    content: "\f071";
}
.lcc-icon-plane:before {
    content: "\f072";
}
.lcc-icon-calendar:before {
    content: "\f073";
}
.lcc-icon-random:before {
    content: "\f074";
}
.lcc-icon-comment:before {
    content: "\f075";
}
.lcc-icon-magnet:before {
    content: "\f076";
}
.lcc-icon-chevron-up:before {
    content: "\f077";
}
.lcc-icon-chevron-down:before {
    content: "\f078";
}
.lcc-icon-retweet:before {
    content: "\f079";
}
.lcc-icon-shopping-cart:before {
    content: "\f07a";
}
.lcc-icon-folder-close:before {
    content: "\f07b";
}
.lcc-icon-folder-open:before {
    content: "\f07c";
}
.lcc-icon-resize-vertical:before {
    content: "\f07d";
}
.lcc-icon-resize-horizontal:before {
    content: "\f07e";
}
.lcc-icon-bar-chart:before {
    content: "\f080";
}
.lcc-icon-twitter-sign:before {
    content: "\f081";
}
.lcc-icon-facebook-sign:before {
    content: "\f082";
}
.lcc-icon-camera-retro:before {
    content: "\f083";
}
.lcc-icon-key:before {
    content: "\f084";
}
.lcc-icon-cogs:before {
    content: "\f085";
}
.lcc-icon-comments:before {
    content: "\f086";
}
.lcc-icon-thumbs-up:before {
    content: "\f087";
}
.lcc-icon-thumbs-down:before {
    content: "\f088";
}
.lcc-icon-star-half:before {
    content: "\f089";
}
.lcc-icon-heart-empty:before {
    content: "\e980";
}
.lcc-icon-signout:before {
    content: "\f08b";
}
.lcc-icon-linkedin-sign:before {
    content: "\f08c";
}
.lcc-icon-pushpin:before {
    content: "\f08d";
}
.lcc-icon-external-link:before {
    content: "\f08e";
}
.lcc-icon-signin:before {
    content: "\f090";
}
.lcc-icon-trophy:before {
    content: "\f091";
}
.lcc-icon-flickr:before {
    content: "\f092";
}
.lcc-icon-upload-alt:before {
    content: "\f093";
}
.lcc-icon-filebox:before {
    content: "\f094";
}
.lcc-icon-taxi:before {
    content: "\f095";
}
.lcc-icon-paperclip:before {
    content: "\f096";
}
.lcc-icon-text-resize:before {
    content: "\f097";
}
.lcc-icon-open-quotes:before {
    content: "\f098";
}
.lcc-icon-close-quotes:before {
    content: "\f099";
}
.lcc-icon-rss:before {
    content: "\f09a";
}
.lcc-icon-cloudy:before {
    content: "\f09c";
}
.lcc-icon-stop-hand:before {
    content: "\f09e";
}
.lcc-icon-hard-disk:before {
    content: "\f0a0";
}
.lcc-icon-bell:before {
    content: "\f0a2";
}
.lcc-icon-hand-point-right:before {
    content: "\f0a4";
}
.lcc-icon-hand-point-right2:before {
    content: "\f0a5";
}
.lcc-icon-hand-point-up:before {
    content: "\f0a6";
}
.lcc-icon-hand-point-down:before {
    content: "\f0a7";
}
.lcc-icon-circle-arrow-left:before {
    content: "\f0a8";
}
.lcc-icon-circle-arrow-right:before {
    content: "\f0a9";
}
.lcc-icon-circle-arrow-up:before {
    content: "\f0aa";
}
.lcc-icon-circle-arrow-down:before {
    content: "\f0ab";
}
.lcc-icon-globe:before {
    content: "\f0ac";
}
.lcc-icon-spanner:before {
    content: "\f0ad";
}
.lcc-icon-tasks:before {
    content: "\f0ae";
}
.lcc-icon-filter:before {
    content: "\f0b0";
}
.lcc-icon-beaker:before {
    content: "\f0c3";
}
.lcc-icon-cut:before {
    content: "\f0c4";
}
.lcc-icon-copy:before {
    content: "\f0c5";
}
.lcc-icon-save:before {
    content: "\f0c7";
}
.lcc-icon-sign-blank:before {
    content: "\f0c8";
}
.lcc-icon-reorder:before {
    content: "\f0c9";
}
.lcc-icon-list-ol:before {
    content: "\f0cb";
}
.lcc-icon-strikethrough:before {
    content: "\f0cc";
}
.lcc-icon-underline:before {
    content: "\f0cd";
}
.lcc-icon-table:before {
    content: "\f0ce";
}
.lcc-icon-magic:before {
    content: "\f0d0";
}
.lcc-icon-truck:before {
    content: "\f0d1";
}
.lcc-icon-pinterest:before {
    content: "\f0d2";
}
.lcc-icon-google-plus:before {
    content: "\f0d4";
}
.lcc-icon-money:before {
    content: "\f0d6";
}
.lcc-icon-caret-down:before {
    content: "\f0d7";
}
.lcc-icon-caret-up:before {
    content: "\f0d8";
}
.lcc-icon-caret-left:before {
    content: "\f0d9";
}
.lcc-icon-caret-right:before {
    content: "\f0da";
}
.lcc-icon-columns:before {
    content: "\f0db";
}
.lcc-icon-sort:before {
    content: "\f0dc";
}
.lcc-icon-sort-down:before {
    content: "\f0dd";
}
.lcc-icon-sort-up:before {
    content: "\f0de";
}
.lcc-icon-envelope-alt:before {
    content: "\f0e0";
}
.lcc-icon-linked-in:before {
    content: "\f0e1";
}
.lcc-icon-share-alt2:before {
    content: "\f0e2";
}
.lcc-icon-legal:before {
    content: "\f0e3";
}
.lcc-icon-dashboard:before {
    content: "\f0e4";
}
.lcc-icon-comment-alt:before {
    content: "\f0e5";
}
.lcc-icon-comments-alt:before {
    content: "\f0e6";
}
.lcc-icon-lightning-bolt:before {
    content: "\f0e7";
}
.lcc-icon-sitemap:before {
    content: "\f0e8";
}
.lcc-icon-paste:before {
    content: "\f0ea";
}
.lcc-icon-lcc-globe:before {
    content: "\f100";
}
.lcc-icon-lcc-creditcard:before {
    content: "\f101";
}
.lcc-icon-lcc-megaphone:before {
    content: "\f102";
}
.lcc-icon-lcc-calculator:before {
    content: "\f103";
}
.lcc-icon-lcc-wheelybin:before {
    content: "\f104";
}
.lcc-icon-lcc-armchair:before {
    content: "\f105";
}
.lcc-icon-lcc-wheelybin-question:before {
    content: "\f106";
}
.lcc-icon-lcc-cutlery:before {
    content: "\f107";
}
.lcc-icon-lcc-piggybank:before {
    content: "\f108";
}
.lcc-icon-lcc-bus:before {
    content: "\f109";
}
.lcc-icon-lcc-wedding:before {
    content: "\f10a";
}
.lcc-icon-lcc-scroll:before {
    content: "\f10b";
}
.lcc-icon-lcc-faith:before {
    content: "\f10c";
}
.lcc-icon-lcc-parentchild:before {
    content: "\f10d";
}
.lcc-icon-lcc-unionjack:before {
    content: "\f10e";
}
.lcc-icon-lcc-checknationality:before {
    content: "\f10f";
}
.lcc-icon-lcc-male:before {
    content: "\f110";
}
.lcc-icon-lcc-shelteredhome:before {
    content: "\f111";
}
.lcc-icon-lcc-family:before {
    content: "\f112";
}
.lcc-icon-lcc-supportedfamily:before {
    content: "\f113";
}
.lcc-icon-lcc-tickhouse:before {
    content: "\f114";
}
.lcc-icon-lcc-xmastree:before {
    content: "\f115";
}
.lcc-icon-lcc-filingcabinet:before {
    content: "\f116";
}
.lcc-icon-lcc-supportedcouple:before {
    content: "\f117";
}
.lcc-icon-lcc-tv:before {
    content: "\f118";
}
.lcc-icon-lcc-parentchildlinked:before {
    content: "\f119";
}
.lcc-icon-lcc-homeramp:before {
    content: "\f11a";
}
.lcc-icon-lcc-adultlearning:before {
    content: "\f11b";
}
.lcc-icon-lcc-nhs111:before {
    content: "\f11c";
}
.lcc-icon-lcc-nhs:before {
    content: "\f11d";
}
.lcc-icon-lcc-wheelchair:before {
    content: "\f11e";
}
.lcc-icon-lcc-firstaid:before {
    content: "\f11f";
}
.lcc-icon-lcc-supportedhouse:before {
    content: "\f120";
}
.lcc-icon-lcc-houseaward:before {
    content: "\f121";
}
.lcc-icon-lcc-supportedhouseaward:before {
    content: "\f122";
}
.lcc-icon-lcc-crowd:before {
    content: "\f123";
}
.lcc-icon-lcc-samesexcouple:before {
    content: "\f124";
}
.lcc-icon-lcc-contactbook:before {
    content: "\f125";
}
.lcc-icon-lcc-laptop:before {
    content: "\f126";
}
.lcc-icon-lcc-briefcase:before {
    content: "\f127";
}
.lcc-icon-lcc-jetlogo:before {
    content: "\f128";
}
.lcc-icon-lcc-factory:before {
    content: "\f129";
}
.lcc-icon-lcc-linegraph:before {
    content: "\f12a";
}
.lcc-icon-lcc-toxic:before {
    content: "\f12b";
}
.lcc-icon-lcc-blocks:before {
    content: "\f12c";
}
.lcc-icon-lcc-disabledsign:before {
    content: "\f12d";
}
.lcc-icon-lcc-parkingsign:before {
    content: "\f12e";
}
.lcc-icon-lcc-findflower:before {
    content: "\f12f";
}
.lcc-icon-lcc-findbook:before {
    content: "\f130";
}
.lcc-icon-lcc-audiobook:before {
    content: "\f131";
}
.lcc-icon-lcc-findschool:before {
    content: "\f132";
}
.lcc-icon-lcc-archery:before {
    content: "\f133";
}
.lcc-icon-lcc-target:before {
    content: "\f134";
}
.lcc-icon-lcc-finddate:before {
    content: "\f136";
}
.lcc-icon-lcc-applyLibrary:before {
    content: "\f137";
}
.lcc-icon-lcc-magazine:before {
    content: "\f139";
}
.lcc-icon-lcc-book:before {
    content: "\f13a";
}
.lcc-icon-lcc-woman:before {
    content: "\f13b";
}
.lcc-icon-lcc-lightbulb:before {
    content: "\f13c";
}
.lcc-icon-lcc-ecobulb:before {
    content: "\f13d";
}
.lcc-icon-lcc-suncloud:before {
    content: "\f13e";
}
.lcc-icon-lcc-snowflake:before {
    content: "\f13f";
}
.lcc-icon-lcc-umbrella:before {
    content: "\f140";
}
.lcc-icon-lcc-oldphone:before {
    content: "\f141";
}
.lcc-icon-lcc-mobilephone:before {
    content: "\f142";
}
.lcc-icon-lcc-smartfone:before {
    content: "\f143";
}
.lcc-icon-lcc-tablet:before {
    content: "\f144";
}
.lcc-icon-lcc-ticket:before {
    content: "\f145";
}
.lcc-icon-lcc-train:before {
    content: "\f146";
}
.lcc-icon-lcc-bike:before {
    content: "\f147";
}
.lcc-icon-lcc-mouse:before {
    content: "\f148";
}
.lcc-icon-lcc-sunshine:before {
    content: "\f149";
}
.lcc-icon-lcc-award:before {
    content: "\f14a";
}
.lcc-icon-lcc-autumnleaf:before {
    content: "\f14b";
}
.lcc-icon-lcc-football:before {
    content: "\f14c";
}
.lcc-icon-lcc-signpost:before {
    content: "\f14d";
}
.lcc-icon-lcc-map:before {
    content: "\f14e";
}
.lcc-icon-lcc-alarmclock:before {
    content: "\f14f";
}
.lcc-icon-lcc-mousetrap:before {
    content: "\f150";
}
.lcc-icon-lcc-zebracrossing:before {
    content: "\f152";
}
.lcc-icon-lcc-spade:before {
    content: "\f153";
}
.lcc-icon-lcc-golf:before {
    content: "\f154";
}
.lcc-icon-lcc-roadworks:before {
    content: "\f155";
}
.lcc-icon-lcc-emergencyservices:before {
    content: "\f156";
}
.lcc-icon-lcc-flower:before {
    content: "\f157";
}
.lcc-icon-lcc-market:before {
    content: "\f158";
}
.lcc-icon-lcc-familytree:before {
    content: "\f159";
}
.lcc-icon-lcc-horse:before {
    content: "\f15a";
}
.lcc-icon-lcc-spraycan:before {
    content: "\f15b";
}
.lcc-icon-lcc-brokenbin:before {
    content: "\f15c";
}
.lcc-icon-lcc-potholes:before {
    content: "\f15d";
}
.lcc-icon-lcc-alertbin:before {
    content: "\f15e";
}
.lcc-icon-lcc-streetlamp:before {
    content: "\f15f";
}
.lcc-icon-lcc-flytipping:before {
    content: "\f160";
}
.lcc-icon-lcc-callcentre:before {
    content: "\f161";
}
.lcc-icon-lcc-dog:before {
    content: "\f162";
}
.lcc-icon-lcc-car:before {
    content: "\f163";
}
.lcc-icon-lcc-cruiseliner:before {
    content: "\f164";
}
.lcc-icon-lcc-news:before {
    content: "\f165";
}
.lcc-icon-lcc-licence:before {
    content: "\f166";
}
.lcc-icon-lcc-plans:before {
    content: "\f167";
}
.lcc-icon-lcc-basketball:before {
    content: "\f168";
}
.lcc-icon-lcc-softball:before {
    content: "\f169";
}
.lcc-icon-lcc-rugby:before {
    content: "\f16a";
}
.lcc-icon-lcc-pingpong:before {
    content: "\f16b";
}
.lcc-icon-lcc-weights:before {
    content: "\ea2d";
}
.lcc-icon-lcc-running:before {
    content: "\f16d";
}
.lcc-icon-lcc-badminton:before {
    content: "\f16e";
}
.lcc-icon-lcc-tennis:before {
    content: "\f16f";
}
.lcc-icon-lcc-kidswim:before {
    content: "\f170";
}
.lcc-icon-lcc-sauna:before {
    content: "\f171";
}
.lcc-icon-lcc-gymnastics:before {
    content: "\f172";
}
.lcc-icon-lcc-dance:before {
    content: "\f173";
}
.lcc-icon-lcc-sportshall:before {
    content: "\f174";
}
.lcc-icon-lcc-jacuzzi:before {
    content: "\f175";
}
.lcc-icon-lcc-swim:before {
    content: "\f176";
}
.lcc-icon-lcc-999:before {
    content: "\f177";
}
.lcc-icon-lcc-star-half-empty:before {
    content: "\f179";
}
.lcc-icon-lcc-face-smile:before {
    content: "\f17a";
}
.lcc-icon-lcc-face-wink:before {
    content: "\f17b";
}
.lcc-icon-lcc-face-angry:before {
    content: "\f17c";
}
.lcc-icon-lcc-face-happy:before {
    content: "\f17d";
}
.lcc-icon-lcc-face-doubtful:before {
    content: "\f17e";
}
.lcc-icon-lcc-face-sad:before {
    content: "\f17f";
}
.lcc-icon-lcc-face-confused:before {
    content: "\f180";
}
.lcc-icon-lcc-womenpartnership:before {
    content: "\f181";
}
.lcc-icon-lcc-menpartnership:before {
    content: "\f182";
}
.lcc-icon-lcc-drama:before {
    content: "\f190";
}
.lcc-icon-lcc-hospital:before {
    content: "\f183";
}
.lcc-icon-lcc-itsliverpool:before {
    content: "\f206";
}
.lcc-icon-lcc-directdebit:before {
    content: "\e900";
}
.lcc-icon-lcc-angling:before {
    content: "\e913";
}
.lcc-icon-lcc-legalscales:before {
    content: "\e914";
}
.lcc-icon-lcc-museum:before {
    content: "\e915";
}
.lcc-icon-lcc-101:before {
    content: "\e916";
}
.lcc-icon-lcc-liverpoolvision:before {
    content: "\e917";
}
.lcc-icon-lcc-liverpoolmayor:before {
    content: "\e918";
}
.lcc-icon-lcc-liverpoolcouncil:before {
    content: "\e919";
}
.lcc-icon-lcc-lifestyles:before {
    content: "\e91a";
}
.lcc-icon-lcc-gravestone:before {
    content: "\f151";
}
.lcc-icon-ringo-starr:before {
    content: "\f185";
}
.lcc-icon-paul-mccartney:before {
    content: "\f184";
}
.lcc-icon-george-harrison:before {
    content: "\f186";
}
.lcc-icon-john-lennon:before {
    content: "\f187";
}
.lcc-icon-cillablack:before {
    content: "\f188";
}
.lcc-icon-rollergirl:before {
    content: "\f189";
}

